<div class="row">
	<div class="askeecs-question col-lg-6 col-lg-offset-3">
		<form role="form" ng-submit="processForm()">
			<div class="form-group">
				<label for="email">Email Adress</label>
				<input type="text" class="form-control" id="email" name="email" ng-model="credentials.Username" placeholder="Email">
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<input type="password" class="form-control" id="password" name="password" ng-model="credentials.Password" placeholder="Password">
			</div>
			<div class="form-group">
				<button id="submit" type="submit" class="btn btn-primary pull-right">Login</button>
			</div>
		</form>
	</div>
</div>

