				<div class="askeecs-question clearfix">
					<h3>{{question.Title}}</h3>
					<div class="askeecs-media askeecs-widget askeecs-widget-box">
						<div class="askeecs-vote-up">
							<span class="glyphicon glyphicon-chevron-up"></span>
						</div>
						<div class="askeecs-votes">
							{{question.Score.Up - question.Score.Down}}
						</div>
						<div class="askeecs-vote-down">
							<span class="glyphicon glyphicon-chevron-down"></span>
						</div>
						<div class="askeecs-star-question">
							<span class="glyphicon glyphicon-star-empty"></span>
						</div>
					</div>
					<div class="askeecs-question-details clearfix" style="">
						{{question.Body}}
						<hr>
						<div class="askeecs-question-author pull-right">
							<span title="{{question.Timestamp | date:'medium'}}" am-time-ago="question.Timestamp"></span>

							<a href="#">{{question.Author}}</a>
							<span class="badge">0</span>
						</div>
						<div>
							<a href="#" ng-repeat="tag in question.Tags" class="label label-info askeecs-tag">{{tag}}</a>
						</div>
						<ul class="askeecs-comment-list list-unstyled">
							<li class="askeecs-comment" ng-repeat="comment in question.comments">
							<p><a href="#" ><span class="glyphicon glyphicon-arrow-up"></span></a> {{comment.Body}} – <a href="#" class="">{{comment.Author}}</a> <small><span title="{{question.Timestamp | date:'medium'}}" am-time-ago="question.Timestamp"></span></small></p>
							</li>
						</ul>
						<a href="" ng-click="scomment=true" ng-hide="scomment">add comment</a>
						<div class="ng-hide" ng-show="scomment">
							<form novalidation role="form" ng-submit="processComment()">
								<div class="form-group" ng-class"{'has-error': errorComment}">
									<div class="row">
										<div class="col-md-9">
											<textarea ng-model="comment.Body" class="form-control"></textarea>
										</div>
										<div class="col-md-3">
											<button type="submit" class="btn btn-default btn-sm">Add Comment</button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				<ul class="row nav nav-tabs askeecs-topic-nav">
					<li class="active"><a href="#">Most Votes</a></li>
					<li><a href="#">Recent</a></li>
				</ul>
				<ul class="askeecs-resonses">
					<li class="askeecs-question clearfix" ng-repeat="response in question.Responses">
						<div class="askeecs-media askeecs-widget askeecs-widget-box">
							<div class="askeecs-vote-up">
								<span class="glyphicon glyphicon-chevron-up"></span>
							</div>
							<div class="askeecs-votes">
								{{response.Score.Up - response.Score.Down}}
							</div>
							<div class="askeecs-vote-down">
								<span class="glyphicon glyphicon-chevron-down"></span>
							</div>
							<div class="askeecs-star-response">
								<span class="glyphicon glyphicon-star-empty"></span>
							</div>
						</div>
						<div class="askeecs-response-details clearfix" style="">
							{{response.Body}}
							<hr>
							<div class="askeecs-response-author ">
								<span title="{{response.Timestamp | date:'medium'}}" am-time-ago="response.Timestamp"></span>

								<a href="#">{{response.Author}}</a>
								<span class="badge">0</span>
							</div>
							<ul class="askeecs-comment-list list-unstyled">
								<li class="askeecs-comment" ng-repeat="comment in response.comments">
								<p><a href="#" ><span class="glyphicon glyphicon-arrow-up"></span></a> {{comment.Body}} – <a href="#" class="">{{comment.Author}}</a> <small><span title="{{question.Timestamp | date:'medium'}}" am-time-ago="question.Timestamp"></span></small></p>
								</li>
							</ul>
							<a href="" ng-click="scomment=true" ng-hide="scomment">add comment</a>
							<div class="ng-hide" ng-show="scomment">
								<form novalidation role="form" ng-submit="processRESComment()">
									<input type="hidden" ng-model="rescomment.ID" value="{{response.ID}}">
									<div class="form-group" ng-class"{'has-error': errorComment}">
										<div class="row">
											<div class="col-md-9">
												<textarea ng-model="rescomment.Body" class="form-control"></textarea>
											</div>
											<div class="col-md-3">
												<button type="submit" class="btn btn-default btn-sm">Add Comment</button>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</li>
				</ul>
				<div>

				</div>
				<div class="ng-hide" ng-show="authenticated">
					<h4>Submit an Answer</h4>
					<form novalidate role="form" ng-submit="processForm()">
						<div class="form-group" ng-class="{'has-error': errorMarkdown}">
							<div class="alert alert-danger" ng-show="errorMarkdown">{{errorMarkdown}}</div>
							<div class="btn-toolbar" role="toolbar">
								<div class="btn-group btn-group-textbox">
									<button type="button" class="btn btn-default btn-sm"><span class="fa fa-bold"></span></button>
									<button type="button" class="btn btn-default btn-sm"><span class="fa fa-italic"></span></button>
								</div>
								<div class="btn-group btn-group-textbox">
									<button type="button" class="btn btn-default btn-sm"><span class="fa fa-link"></span></button>
									<button type="button" class="btn btn-default btn-sm"><span class="fa fa-quote-left"></span></button>
									<button type="button" class="btn btn-default btn-sm"><span class="fa fa-code"></span></button>
									<button type="button" class="btn btn-default btn-sm"><span class="fa fa-picture-o"></span></button>
								</div>
								<div class="btn-group btn-group-textbox">
									<button type="button" class="btn btn-default btn-sm"><span class="fa fa-list-ul"></span></button>
									<button type="button" class="btn btn-default btn-sm"><span class="fa fa-list-ol"></span></button>
								</div>
							</div>
							<textarea name="body" class="form-control form-control-has-group" rows="10" id="mk-input" ng-model='response.Body' ng-change='md2Html()' required></textarea>
						</div>
						<hr>
						<div class="form-group">
							<label for="">Preview</label>
							<div class="askeecs-question-preview" ng-bind-html='htmlSafe' id="mk-preview">
							</div>
						</div>
						<div class="form-group">
							<button id="submit-question" type="submit" class="btn btn-primary pull-right">Submit Response</button>
						</div>
					</form>
				</div>
