<div class="row">
	<div class="askeecs-question col-lg-6 col-lg-offset-3">
		<form role="form" ng-submit="processForm()">
			<div class="form-group">
				<label for="email">Email Adress</label>
				<div class="input-group">
				<input type="text" class="form-control" id="email" name="email" ng-model="data.Username" placeholder="Email">
				<span class="input-group-addon">@email.wsu.edu</span>
			</div>
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<input type="password" class="form-control" id="password" name="password" ng-model="data.Password" placeholder="Password">
			</div>
			<div class="form-group">
				<label for="cpassword">Confirm Password</label>
				<input type="password" class="form-control" id="cpassword" name="cpassword" ng-model="data.cpassword" placeholder="Password">
			</div>
			<div class="form-group">
				<button id="submit" type="submit" class="btn btn-primary pull-right">Register</button>
			</div>
		</form>
	</div>
</div>

